* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: lighter;
    font-family: Arial;
    font-size: 2vh;
}

body {

    background-color: rgb(238, 240, 244);
    height: 100%;
    width: 100%;
}

/*导航栏*/
.title {
    width: 100%;
    height: 7vh;
    color: #ffffff;
    background-color: rgb(90, 192, 206);
    text-align: center;
}

.zhuce, .denglu, .guanbi {
    display: inline-block;
    line-height: 7vh;
}

.zhuce {
    float: left;
    margin-left: 2vh;
}

.denglu {
    font-size: 3vh;
}

.guanbi {
    float: right;
    margin-right: 2vh;
}

/*两个输入框*/
.input {
    height: 8vh;
    width: 100vw;
    background-color: #ffffff;
    margin-top: 2vh;

}

.icon {
    float: left;
    height: 4vh;
    margin:2vh 3vh 3vh 3vh;
}
.line{
    float: left;
    height: 4vh;
    margin:2vh 3vh 3vh 1vh;
}

input {
    display: inline-block;
    height: 8vh;
    /*width: 80vw;*/
    font-size: 3vh;
    border: 0;/*去除阴影边框*/
    border-left-width: 1px;
    border-left-color:gray ;
    outline-style: none;/*去除选中时的边框*/
    background-color: rgb(254, 254, 254);
    /*font-size: ;*/
}

.submit {
    width: 100vw;
    height: 8vh;
    font-size: 3vh;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgb(90, 192, 206);
    margin-top: 6vh;
}

.forget {
    color: rgb(90, 192, 206);
    text-align: right;
    margin: 1vh 1vh 0 0;
}